$brown: #ba7b62;
$brown1: #cf8e74;
$brown2: #b86747;


body{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.hover{
    &:hover{
        opacity: 0.8;
        cursor: pointer;
    }
}
a:link, a:visited{
    color: inherit;
    text-decoration: none;
}
ul{
    padding: 0;
}
main{
    @media(min-width:1000px){

    }
    @media(max-width:1000px){
        padding: 0 20px;
        min-height: calc(100vh - 104px - 316px);
    }
    margin-bottom: 10px
}

@import './Components/components';
@import './Pages/pages';