@charset "UTF-8";
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZYokSds18Q.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZMkids18Q.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7nsDI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7nsDI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZclSds18Q.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZklyds18Q.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.hover:hover {
  opacity: 0.8;
  cursor: pointer;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
}

main {
  margin-bottom: 10px;
}
@media (max-width: 1000px) {
  main {
    min-height: calc(100vh - 74px - 316px);
    padding-top: 74px;
  }
}

@media (min-width: 1000px) {
  header nav {
    flex-direction: column;
  }
  header nav .navbar-logo #navbar_logo {
    width: 150px;
    height: 50px;
  }
  header nav #navbar-list-desktop ul {
    display: flex;
  }
  header nav #navbar-list-desktop ul li {
    color: #fff;
  }
  header nav #nav-hamburger {
    display: none;
  }
}
@media (max-width: 1000px) {
  header {
    position: fixed;
    width: calc(100vw - 20px);
    z-index: 8;
  }
  header nav {
    flex-direction: row;
  }
  header nav .navbar-logo {
    margin-left: calc(50vw - 50px);
    z-index: 10;
  }
  header nav .navbar-logo #navbar_logo {
    height: 50px;
    width: 100px;
  }
  header nav #navbar-list-desktop ul {
    display: none;
  }
  header nav #nav-hamburger {
    z-index: 10;
    position: absolute;
    left: 10%;
  }
  header nav #nav-hamburger svg {
    fill: #fff;
  }
}
header {
  background-color: #b068a8;
  padding: 0px 10px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
header nav #navbar-list-desktop ul {
  flex-direction: row;
  padding: 0;
  list-style: none;
}
header nav #navbar-list-desktop ul .nav-list {
  text-transform: uppercase;
}
header nav #navbar-list-desktop ul .nav-list:not(:last-child) {
  margin-right: 2vw;
}
header nav #navbar-list-mobile {
  position: fixed;
  top: 0%;
  right: 0%;
  height: 100vh;
  width: 0vw;
  background-color: #b068a8;
  transition: 0.5s width ease-out;
}
header nav #navbar-list-mobile[aria-label=untoggled] {
  width: 0vw;
  padding: 0;
}
header nav #navbar-list-mobile[aria-label=toggled] {
  padding: 0 20px;
  width: calc(100vw - 40px);
  z-index: 8;
}
header nav #navbar-list-mobile ul {
  flex-direction: column;
  padding: 0;
  margin-top: 103px;
  list-style: none;
}
header nav #navbar-list-mobile ul .nav-list {
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
}
header nav #navbar-list-mobile ul .nav-list:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 1000px) {
  #footer {
    flex-direction: row;
  }
}
@media (max-width: 1000px) {
  #footer {
    flex-direction: column;
  }
  #footer .footer-row h4, #footer .social-media h4 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    position: relative;
    color: #fff;
  }
  #footer .footer-row h4::before, #footer .footer-row h4::after, #footer .social-media h4::before, #footer .social-media h4::after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: " ";
    background-color: #fff;
  }
  #footer .footer-row h4::before, #footer .social-media h4::before {
    margin-left: -50%;
    text-align: right;
  }
  #footer p {
    text-align: center;
  }
}
footer {
  background-color: #b068a8;
  overflow: hidden;
}
footer #footer {
  padding: 0 20px;
  display: flex;
}
footer #footer .footer-row {
  display: flex;
  flex-direction: column;
  color: #fff;
}
footer #footer .footer-row:nth-child(1) {
  margin-top: 10px;
}
footer #footer .footer-row .navbar.logo img {
  fill: #fff;
}
footer #footer .footer-row ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
footer #footer .footer-row ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 6px 0;
}
footer #footer .footer-row ul li svg {
  fill: #fff;
}
footer #footer .footer-row ul li a {
  margin-left: 10px;
}
footer #footer .social-media a {
  display: flex;
  align-items: center;
  color: #fff;
}
footer #footer .social-media a svg {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
footer #footer p {
  color: #fff;
}

@media (max-width: 1000px) {
  main #slider {
    overflow: hidden;
    width: 100vw;
    height: 40vh;
    display: flex;
    position: relative;
  }
  main #slider .slider-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  main #slider .slider-button .slider-buttons {
    position: absolute;
    z-index: 5;
    height: auto;
    background-color: #858282bb;
    border: none;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main #slider .slider-button .slider-buttons:hover {
    cursor: pointer;
  }
  main #slider .slider-button .slider-buttons.left {
    left: 0%;
  }
  main #slider .slider-button .slider-buttons.right {
    right: 0%;
  }
  main #slider .slider-button .slider-buttons svg {
    fill: #fff;
  }
  main #slider .slider-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    width: auto;
    z-index: 4;
    transition: 1s transform ease;
  }
  main #slider .slider-wrapper .slide-page {
    width: 100vw;
    height: 50vh;
  }
  main #slider .slider-wrapper .slide-page img {
    width: 100vw;
    height: 50vh;
  }
  main #slider .slider-wrapper[aria-label="1"] {
    transform: translate(0, 0);
  }
  main #slider .slider-wrapper[aria-label="2"] {
    transform: translate(-100vw, 0);
  }
  main #slider .slider-wrapper[aria-label="3"] {
    transform: translate(-200vw, 0);
  }
  main #slider .slider-tracker {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 5;
    width: calc(100vw - 40px);
    bottom: 0;
  }
  main #slider .slider-tracker a {
    margin: 0px 10px;
  }
  main #slider .slider-tracker a:hover {
    cursor: pointer;
  }
  main #slider .slider-tracker a svg {
    fill: #fff;
  }
  main #rating-showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  main #rating-showcase .column-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main #rating-showcase .column-rating h3 {
    margin: 0;
    font-size: 22px;
  }
  main #rating-showcase .column-rating p {
    margin: 0;
  }
  main #rating-showcase .column-rating img {
    width: 150px;
    height: 30px;
  }
  main .call-to-action-index {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .call-to-action-index h4 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 6px 0;
  }
  main .call-to-action-index .call-to-action-btn {
    background-color: #b068a8;
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
  }
  main .call-to-action-index .call-to-action-btn:hover {
    background-color: #94498b;
    cursor: pointer;
  }
}
@media (min-width: 1000px) {
  main #slider {
    overflow: hidden;
    width: 80%;
    height: 60vh;
    margin: auto;
    display: flex;
    position: relative;
  }
  main #slider .slider-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  main #slider .slider-button .slider-buttons {
    position: absolute;
    z-index: 5;
    height: auto;
    background-color: #858282bb;
    border: none;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main #slider .slider-button .slider-buttons:hover {
    cursor: pointer;
  }
  main #slider .slider-button .slider-buttons.left {
    left: 0%;
  }
  main #slider .slider-button .slider-buttons.right {
    right: 0%;
  }
  main #slider .slider-button .slider-buttons svg {
    fill: #fff;
  }
  main #slider .slider-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    width: auto;
    z-index: 4;
    transition: 1s transform ease;
  }
  main #slider .slider-wrapper .slide-page {
    width: 100%;
    height: 100%;
  }
  main #slider .slider-wrapper .slide-page img {
    width: 100vw;
    height: 50vh;
  }
  main #slider .slider-wrapper[aria-label="1"] {
    transform: translate(0, 0);
  }
  main #slider .slider-wrapper[aria-label="2"] {
    transform: translate(-100vw, 0);
  }
  main #slider .slider-wrapper[aria-label="3"] {
    transform: translate(-200vw, 0);
  }
  main #slider .slider-tracker {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 5;
    width: calc(100vw - 40px);
    bottom: 0;
  }
  main #slider .slider-tracker a {
    margin: 0px 10px;
  }
  main #slider .slider-tracker a:hover {
    cursor: pointer;
  }
  main #slider .slider-tracker a svg {
    fill: #fff;
  }
}
main #price-list-wrapper .price-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main #price-list-wrapper .price-list-header button {
  padding: 14px 24px;
  font-size: 12px;
  border-radius: 8px;
  border: none;
  background-color: #b068a8;
  text-transform: uppercase;
  font-weight: bold;
}
main #price-list-wrapper .category {
  margin-bottom: 4px;
}
main #price-list-wrapper .category[aria-label=extended] .category_header span {
  background-color: #d47fcb;
}
main #price-list-wrapper .category[aria-label=collapsed] .category_header span {
  background-color: #d4d4d4;
}
main #price-list-wrapper .category[aria-label=collapsed] .category_header span svg {
  transform: rotate(180deg);
}
main #price-list-wrapper .category[aria-label=collapsed] .category_extended_list {
  display: none;
}
main #price-list-wrapper .category .category_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #b068a8;
  padding: 8px;
  border-radius: 6px;
}
main #price-list-wrapper .category .category_header p {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}
main #price-list-wrapper .category .category_header span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 50%;
}
main #price-list-wrapper .category .category_header span svg {
  transition: 0.5s transform ease;
}
main #price-list-wrapper .category .category_extended_list ul {
  list-style-type: none;
}
main #price-list-wrapper .category .category_extended_list ul li {
  border-top: 1px solid #d4d4d4;
  width: 95%;
  margin: auto;
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main #price-list-wrapper .category .category_extended_list ul li:nth-last-child(1) {
  border-bottom: 1px solid #d4d4d4;
}
main #price-list-wrapper .category .category_extended_list ul li .service-description {
  display: flex;
  flex-direction: column;
}
main #price-list-wrapper .category .category_extended_list ul li .service-description p {
  margin: 4px 0;
}
main #price-list-wrapper .category .category_extended_list ul li .service-description .service-description-type1 {
  font-weight: 600;
}
main #price-list-wrapper .category .category_extended_list ul li .book_btn {
  padding: 14px 24px;
  font-size: 12px;
  border-radius: 8px;
  border: none;
  background-color: #b068a8;
  text-transform: uppercase;
  font-weight: bold;
}
main #price-list-wrapper .category .category_extended_list ul li .book_btn:hover {
  cursor: pointer;
  background-color: #94498b;
}/*# sourceMappingURL=style.css.map */