//Navbar
@media(min-width:1000px){
    header{
        nav{
            flex-direction: column;
            .navbar-logo{
                #navbar_logo{
                    width: 150px;
                    height: 50px;
                }
            }
            #navbar-list-desktop{
                display: flex;
                justify-content: center;
                border-top: 1px solid rgba(255, 255, 255, 0.50);
                width: 100%;
                ul{
                    display: flex;
                    margin-bottom: 0;
                    li{
                        color: $text0;
                        &::after{
                            content: '';
                            display: block;
                            width: 0;
                            height: 2px;
                            background: #fff;
                            transition: width .3s;
                        }
                        &:hover::after{
                            width: 100%;
                        }
                    }
                }
            }
            #nav-hamburger{
                display: none;
            }
        }
    }
}
@media(max-width:1000px){
    header{
        position: fixed;
        width: calc(100vw - 20px);
        z-index: 8;
        padding: 0px 10px;
        nav{
            flex-direction: row;
            .navbar-logo{
                margin-left: calc(50vw - 50px);
                z-index: 10;
                #navbar_logo{
                    height: 50px;
                    width: 100px;
                }
            }
            #navbar-list-desktop{
                ul{
                    display: none;
                }
            }
            #nav-hamburger{
                z-index: 10;
                position: absolute;
                left: 10%;
                svg{
                    fill: $text0;
                }
            }
        }
    }
}
header{
    background-color: $main0;
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        #navbar-list-desktop{
            ul{
                flex-direction: row;
                padding: 0;
                list-style: none;
                .nav-list{
                    text-transform: uppercase;
                    &:not(:last-child){
                        margin-right: 2vw;
                    }
                }
            }

        }
        #navbar-list-mobile{
            position: fixed;
            top: 0%;
            left: 0%;
            height: 100vh;
            width: 0vw;
            background-color: $main0;
            transition: 0.5s width ease-out;
            &[aria-label="untoggled"]{
                width: 0vw;
                padding: 0;
                ul{
                    display: none;
                }
            }
            &[aria-label="toggled"]{
                padding: 0 20px;
                width: calc(100vw - 40px);
                z-index: 8;
            }
            ul{
                flex-direction: column;
                padding: 0;
                margin-top: 103px;
                list-style: none;
                .nav-list{
                    text-transform: uppercase;
                    color: $text0;
                    font-size: 30px;
                    &:not(:last-child){
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}
//Navbar End

//Footer
footer{
    background-color: $main0;
    #footer{
        .footer-row{
            color: $text0;
            &:nth-child(1){
                a{
                    width: 200px;
                    height: 66px;
                    display: flex;
                    justify-content: flex-start;
                    svg{
                        fill: $text0;
                        .st1{
                            stroke-width:2;
                            stroke-miterlimit:10;
                            fill: $text0;
                            stroke: $text0;
                        }
                    }
                }
            }
            .footer-row-content{
                .social-media{
                    display: flex;
                    flex-direction: row;
                    .social-media-link{
                        width: min-content;
                        height: min-content;
                        &:not(:nth-last-child(1)){
                            margin-right: 10px;
                        }
                        svg{
                            width: 25px;
                            height: 25px;
                            fill: $text0;
                        }
                    }
                }
            }
        }
    }
    .copyright{
        border-top: 1px solid $text0;
        background-color: $main0;
        p{
            margin: 0;
            padding: 10px 0;
            text-align: center;
            color: $text0;
        }
    }
}
@media(min-width:1000px){
    footer{
        #footer{
            ul{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-around;
                width: 90%;
                margin: auto;
                padding: 10px 0;
            }
            .footer-row{
                display: flex;
                flex-direction: column;
                justify-items: flex-start;
                &:nth-child(1){
                    width: 30%;
                    p{
                        margin-top: 6px;
                    }
                }
                &:nth-child(2){
                    width: 20%;
                }
                &:nth-last-child(1){
                    width: 30%;
                }
                h4{
                    margin: 0 0 6px 0;
                    font-size: 20px;
                    text-transform: uppercase;
                }
                .footer-row-content{
                    .company-description{
                        width: 80%;
                    }
                    ul{
                        padding: 0;
                        margin: 0;
                        list-style-type: none;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        li{
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;
                            svg{
                                fill: $text0;
                                margin-right: 6px;
                            }
                            &:hover{
                                opacity: 0.8;
                                cursor: pointer;
                            }
                        }
                        &.footer-navigate-list{
                            text-transform: uppercase;
                            li{
                                margin-bottom: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:1000px){
    #footer{
        padding: 10px;
        ul{
            list-style-type: none;
            .footer-row{
                &:nth-child(1){
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 20px;
                    p{
                        display: none;
                    }
                }
                .footer-row-content{
                    ul{
                        list-style-type: none;
                        li{
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;
                            font-size: 18px;
                            svg{
                                margin-right: 10px;
                                fill: $text0;
                            }
                        }
                    }
                }
                h4{
                    text-transform: uppercase;
                    font-size: 22px;
                    font-weight: 500;
                    margin: 6px 0;
                }
            }
        }
    }
}