//Navbar
@media(min-width:1000px){
    header{
        nav{
            flex-direction: column;
            .navbar-logo{
                #navbar_logo{
                    width: 150px;
                    height: 50px;
                }
            }
            #navbar-list-desktop{
                ul{
                    display: flex;
                    li{
                        color: $text0;
                    }
                }
            }
            #nav-hamburger{
                display: none;
            }
        }
    }
}
@media(max-width:1000px){
    header{
        position: fixed;
        width: calc(100vw - 20px);
        z-index: 8;
        nav{
            flex-direction: row;
            .navbar-logo{
                margin-left: calc(50vw - 50px);
                z-index: 10;
                #navbar_logo{
                    height: 50px;
                    width: 100px;
                }
            }
            #navbar-list-desktop{
                ul{
                    display: none;
                }
            }
            #nav-hamburger{
                z-index: 10;
                position: absolute;
                left: 10%;
                svg{
                    fill: $text0;
                }
            }
        }
    }
}
header{
    background-color: $main0;
    padding: 0px 10px;
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        #navbar-list-desktop{
            ul{
                flex-direction: row;
                padding: 0;
                list-style: none;
                .nav-list{
                    text-transform: uppercase;
                    &:not(:last-child){
                        margin-right: 2vw;
                    }
                }
            }

        }
        #navbar-list-mobile{
            position: fixed;
            top: 0%;
            right: 0%;
            height: 100vh;
            width: 0vw;
            background-color: $main0;
            transition: 0.5s width ease-out;
            &[aria-label="untoggled"]{
                width: 0vw;
                padding: 0;
            }
            &[aria-label="toggled"]{
                padding: 0 20px;
                width: calc(100vw - 40px);
                z-index: 8;
            }
            ul{
                flex-direction: column;
                padding: 0;
                margin-top: 103px;
                list-style: none;
                .nav-list{
                    text-transform: uppercase;
                    color: $text0;
                    font-size: 30px;
                    &:not(:last-child){
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}
//Navbar End

//Footer
@media(min-width:1000px){
    #footer{
        flex-direction: row;
    }
}
@media(max-width:1000px){
    #footer{
        flex-direction: column;
        .footer-row, .social-media{
            h4{
                margin: 0;
                font-size: 24px;
                text-align: center;
                position: relative;
                color: $text0;
                &::before, &::after{
                    position: absolute;
                    top: 51%;
                    overflow: hidden;
                    width: 50%;
                    height: 1px;
                    content: '\a0';
                    background-color: $text0;
                }
                &::before{
                    margin-left: -50%;
                    text-align: right;
                }
            }
        }
    }
}
footer{
    background-color: $main0;
    overflow: hidden;
    #footer{
        padding: 0 20px;
        display: flex;
        .footer-row{
            display: flex;
            flex-direction: column;
            color: $text0;
            &:nth-child(1){
                margin-top: 10px;
            }
            .navbar.logo{
                img{
                    fill: $text0;
                }
            }
            ul{
                padding: 0;
                margin: 0;
                list-style-type: none;
                li{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 6px 0;
                    svg{
                        fill: $text0;
                    }
                    a{
                        margin-left: 10px;
                    }
                }
            }
        }
        .social-media{
            a{
                display: flex;
                align-items: center;
                color: $text0;
                svg{
                    margin-right: 10px;
                    width: 24px;
                    height: 24px;
                }
            }
        }
        p{
            color: $text0;
        }
    }

}