#contact{
    .contact-top-row{
        display: flex;
        justify-content: center;
        background-color: $main1;
        h3{
            margin: 0;
            padding: 20px 0;
            text-align: center;
            width: 50%;
            font-size: 24px;
            font-weight: 600;
        }
    }
    .contact-wrapper{
        width: 90%;
        margin: 20px auto 30px auto;
        .two-col-wrapper{
            display: flex;
            @media screen and (max-width: 1000px){
                flex-direction: column;
            }
            @media screen and (min-width: 1000px){
                flex-direction: row;
            }
            .col{
                @media screen and (max-width: 1000px){
                    &:nth-child(1){
                        width: 100%;
                    }
                    &:nth-child(2){
                        margin: 20px auto 0 auto;
                        .mapouter{
                            position: relative;
                            text-align: right;
                            height: auto;
                            width: 100%;
                            .gmap_canvas {
                                overflow: hidden;
                                background: none!important;
                                height: 100%;
                                width: 100%;
                                iframe{
                                    width: 350px;
                                    height: 350px;
                                }
                            }
                        }
                    }
                }
                @media screen and (min-width: 1000px){
                    &:nth-child(1){
                        width: calc(100% - 600px);
                    }
                    &:nth-child(2){
                        padding: 20px;
                        width: 600px;
                        .mapouter{
                            position: relative;
                            text-align: right;
                            height: 500px;
                            width: 600px;
                            .gmap_canvas {
                                overflow: hidden;
                                background: none!important;
                                height: 100%;
                                width: 100%;
                                iframe{
                                    width: 600px;
                                    height: 500px;
                                }
                            }
                        }
                    }
                }
                ul{
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    li{
                        border-top: 1px solid $text1;
                        padding: 10px 4px;
                        &:nth-last-child(1){
                            border-bottom: 1px solid $text1;
                        }
                        a{
                            display: flex;
                            flex-direction: column;
                            .contact-list-header{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                margin-bottom: 20px;
                                svg{
                                    margin-right: 8px;
                                }
                            }
                            p{
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}