@media(max-width:1000px){
    #index{
        #slider{
            overflow: hidden;
            width: 100vw;
            height: 40vh;
            display: flex;
            position: relative;
            .slider-button{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .slider-buttons{
                    position: absolute;
                    z-index: 5;
                    height: auto;
                    background-color: #858282bb;
                    border: none;
                    border-radius: 50%;
                    padding: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        cursor: pointer;
                    }
                    &.left{
                        left: 0%;
                    }
                    &.right{
                        right: 0%;
                    }
                    svg{
                        fill: #fff;
                    }
                }
            }
            .slider-wrapper{
                display: flex;
                flex-direction: row;
                position: relative;
                width: auto;
                z-index: 4;
                transition: 1s transform ease;
                .slide-page{
                    width: 100vw;
                    height: 50vh;
                    img{
                        width: 100vw;
                        height: 50vh;
                    }
                }
                &[aria-label="1"]{
                    transform: translate(0, 0);
                }
                &[aria-label="2"]{
                    transform: translate(-100vw, 0);
                }
                &[aria-label="3"]{
                    transform: translate(-200vw, 0);
                }
            }
            .slider-tracker{
                position: absolute;
                display: flex;
                justify-content: center;
                z-index: 5;
                width: calc(100vw - 40px);
                bottom: 0;
                a{
                    margin: 0px 10px;
                    &:hover{
                        cursor: pointer;
                    }
                    svg{
                        fill: #fff;
                    }
                }
            }
        }
        #rating-showcase{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: $main1;
            color: $text1;
            padding: 10px;
            .column-rating{
                display: flex;
                flex-direction: column;
                align-items: center;
                h3{
                    margin: 0;
                    font-size: 22px;
                }
                p{
                    margin: 0;
                }
                img{
                    width: 150px;
                    height: 30px;
                }
            }
        }
        .row{
            .container-promotion{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .promotion-box{
                    height: 400px;
                }
            }
        }
    }
}
@media(min-width:1000px){
    #index{
        .row{
            margin: auto;
            &:not(:nth-child(1)){
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .container-promotion{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .promotion-box{
                    width: 28%;
                    max-width: 330px;
                    height: 400px;
                    border: 1px solid #d4d4d4;
                    .image-container{
                        display: flex;
                        align-items: center;
                        justify-items: center;
                        width: 100%;
                        height: 70%;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                    .text-container{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 10px;
                        height: calc(30% - 20px);
                        h4{
                            margin: 0;
                            font-size: 22px;
                            font-weight: 600;
                        }
                        p{
                            margin: 6px 0;
                            margin-bottom: auto;
                        }
                        button{
                            background-color: $main0;
                            font-size: 18px;
                            color: $text0;
                            padding: 6px 22px;
                            border-radius: 3px;
                            border: none;
                            margin-top: auto;
                            &:hover{
                                background-color: $main2;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        #slider{
            overflow: hidden;
            margin: auto;
            display: flex;
            position: relative;
            height: 600px;
            &:hover{
                .slider-button{
                    display: flex;
                }
            }
            .slider-button{
                display: none;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .slider-buttons{
                    position: absolute;
                    z-index: 5;
                    height: auto;
                    background-color: #858282bb;
                    border: none;
                    border-radius: 50%;
                    padding: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        cursor: pointer;
                    }
                    &.left{
                        left: 0%;
                    }
                    &.right{
                        right: 0%;
                    }
                    svg{
                        fill: #fff;
                    }
                }
            }
            .slider-wrapper{
                display: flex;
                flex-direction: row;
                position: relative;
                min-width: 100%;
                z-index: 4;
                transition: 1s transform ease;
                min-width: 100%;
                &[aria-label="1"]{
                    transform: translate(0, 0);
                }
                &[aria-label="2"]{
                    transform: translate(-100%, 0);
                }
                &[aria-label="3"]{
                    transform: translate(-200%, 0);
                }
                .slide-page{
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    width: 100% !important;
                    height: 100% !important;
                    img{
                        flex: none;
                    }
                }
            }
            .slider-tracker{
                position: absolute;
                display: flex;
                justify-content: center;
                z-index: 5;
                width: 100%;
                bottom: 0;
                a{
                    margin: 0px 10px;
                    &:hover{
                        cursor: pointer;
                    }
                    svg{
                        fill: #fff;
                    }
                }
            }
        }
        #rating-showcase{
            display: flex;
            flex-direction: row;
            margin: auto;
            background-color: $main1;
            color: $text1;
            margin-bottom: 0;
            .column-rating{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                padding: 10px 0;
                h3{
                    font-size: 26px;
                    margin: 0 0 6px 0;
                }
                p{
                    margin: 0;
                }
                img{
                    width: 200px;
                }
            }
        }
        #row_callto_action{
            margin-top: 0;
            background-color: $main2;
            .call-to-action-index{
                padding: 10px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: center;
                color: $text0;
                h4{
                    font-size: 28px;
                    font-weight: 500;
                    margin: 0;
                }
                p{
                    margin-top: 4px;
                    font-weight: 300;
                }
                a{
                    background-color: $main1;
                    padding: 10px 42px;
                    border-radius: 3px;
                    &:hover{
                        cursor: pointer;
                        background-color: $main0;
                    }
                }
            }
        }
    }
}


@media(min-width:1000px) and (max-width:1200px){
    #index{
        .row{
            width: 80%;
            &:not(:nth-child(1)){
                padding: 0 10%;
            }

        }
    }
}
@media(min-width:1200px) and (max-width:1400px){
    #index{
        .row{
            width: 80%;
            &:not(:nth-child(1)){
                padding: 0 10%;
            }
        }
    }
}
@media(min-width:1400px){
    #index{
        .row{
            width: 65%;
            &:not(:nth-child(1)){
                padding: 0 17.5%;
            }
        }
    }
}

#index{
    .row{
        &:nth-last-child(1){
            margin-bottom: 0;
        }
    }
    .container-separator{
        position: relative;
        text-align: center;
        h4{
            &::before, &::after{
                box-sizing: border-box;
            }
            &::before{
                border-top: 1px solid $text1;
                content: "";
                margin: 0 auto;
                position: absolute;
                top: 43%;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: 0;
            }
            span{
                position: relative;
                padding: 0 15px;
                text-transform: uppercase;
                font-size: 18px;
                background-color: #fff;
                font-weight: 500;
            }
        }
    }
    .container-promotion{
        .promotion-box{
            height: 400px;
            .image-container{
                display: flex;
                align-items: center;
                justify-items: center;
                width: 100%;
                height: 70%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .text-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                height: calc(30% - 20px);
                h4{
                    margin: 0;
                    font-size: 22px;
                    font-weight: 600;
                }
                p{
                    margin: 6px 0;
                    margin-bottom: auto;
                }
                button{
                    background-color: $main0;
                    font-size: 18px;
                    color: $text0;
                    padding: 6px 22px;
                    border-radius: 3px;
                    border: none;
                    &:hover{
                        background-color: $main2;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    #row_callto_action{
        margin-top: 0;
        background-color: $main2;
        .call-to-action-index{
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            color: $text0;
            h4{
                font-size: 28px;
                font-weight: 500;
                margin: 0;
            }
            p{
                margin-top: 4px;
                font-weight: 300;
            }
            a{
                background-color: $text0;
                padding: 10px 42px;
                border-radius: 3px;
                color: $text1;
                &:hover{
                    cursor: pointer;
                    background-color: $main0;
                    color: $text0;
                }
            }
        }
    }
}
.index-video{
    video{
        @media screen and (max-width: 900px){
            height: 400px;
            object-position: 10%;
        }
        @media screen and (min-width: 900px){
            height: 600px;
        }
        width: 100%;
        object-fit: cover;
    }
}