@media(min-width:1000px){
    #services{
        padding-bottom: 24vh;
        .service-call{
            flex-direction: row;
            .service-call-section{
                &:nth-child(1){
                    width: calc(40% - 20px);
                }
                &:nth-last-child(1){
                    width: calc(60% - 20px);
                }
            }
        }
    }
}
@media(max-width:1000px){
    #services{
        .service-call{
            flex-direction: column;
            .service-call-section{
                &:nth-child(1){
                    width: calc(100% - 20px);
                    height: 20vh;
                }
                &:nth-last-child(1){
                    width: calc(100% - 20px);
                }
            }
        }
    }
}

#services{
    background-color: $main2;
    h2{
        margin: 0;
        color: #fff;
        text-align: center;
        padding-top: 10px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .service-call{
        display: flex;
        .service-call-section{
            padding: 30px 10px;
            &:nth-child(1){
                background-image: url("https://images.pexels.com/photos/212236/pexels-photo-212236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
                background-size: cover;
            }
            &:nth-last-child(1){
                background-color: $main30;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $text0;
                h1{
                    margin: 0 0 8px 0;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                p{
                    font-size: 20px;
                    text-align: center;
                    width: 80%;
                }
                .link-btn{
                    background-color: $text1;
                    padding: 10px 26px;
                    border-radius: 3px;
                    text-transform: uppercase;
                    transition: 500ms background-color ease;
                    &:hover{
                        background-color: $text0;
                        color: $text1;
                    }
                }
            }
        }
    }
}

//color
.book_btn{
    background-color: $main0;
    color: $text1;
}

#price-list-wrapper{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    color: #fff;
    font-weight: 300;
    @media screen and (min-width: 1000px) {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .col{
            width: min(80%, 800px);
            margin: auto;
            padding: 10px;
        }
    }
    @media screen and (max-width: 1000px){
        display: flex;
        flex-direction: column;
        .col{
            width: 100%;
        }
    }
    .col{

        .service-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;
            span{
                font-size: 20px;
            }
        }
    }
}